{% extends 'base.html' %}
{% load static %}

{% block head_title %}
{{ object.title }}
{% endblock head_title %}

{% block content %}
    {% if object.featured_media %}
        {% if object.is_featured_video %}
            <video src="{% get_media_prefix %}{{ object.featured_media }}" controls></video>
        {% else %}
            <img src="{% get_media_prefix %}{{ object.featured_media }}">
        {% endif %}
    {% else %}
        <img src="{% static 'images/no_image.jpg' %}">
    {% endif %}
    <h1>{{ object.title }}</h1>
    <p>
        <small>
            by {{ object.author.full_name|default:object.author|title }} at {{ object.pub_date }}
            <br>
            {% if post.categories.count > 0 %}
                {% for category in post.categories.all %}
                    <span class="badge">{{ category.name }}</span>
                {% endfor %}
            {% endif %}
        </small>

    </p>
    <p>{{ object.body|linebreaks }}</p>
{% endblock content %}