<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="{% url 'home_page' %}">Home</a></li>
    <li><a href="{% url 'blog_list' %}">Blogs</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'create_post' %}">New post</a></li>
        <li><a href="{% url 'logout_page' %}">Logout</a></li>
        <li>Conectado como: {{ user.username }}</li>
    {% else %}
        <li><a href="{% url 'login_page' %}">Login</a></li>
        <li><a href="{% url 'signup_page' %}">Signup</a></li>
    {% endif %}
</ul>

<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% block content %}
{% endblock content %}

</body>
</html>