<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="{% url 'home_page' %}">Home</a></li>
    <li><a href="{% url 'login_page' %}">Login</a></li>
    <li><a href="{% url 'logout_page' %}">Logout</a></li>
    <li><a href="{% url 'signup_page' %}">Signup</a></li>
    <li><a href="{% url 'create_post' %}">New post</a></li>
</ul>
<p>Conectado como: {{ user }}</p>
{% if messages %}
    {% for msg in messages %}
        <div>{{ msg }}</div>
    {% endfor %}
{% endif %}

{% block content %}
{% endblock content %}

</body>
</html>