{% extends 'base.html' %}

{% block head_title %}
Signup
{% endblock head_title %}

{% block content %}
<div class="row">
    <div class="column column-60 column-offset-20">
        <h3>Create new account on <b>Word</b>Please</h3>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="submit" class="btn btn-primary">Signup</button>
                <p class="text-right">Already a member? Got to <a href="{% url 'login_page' %}">Login page</a></p>

            </div>
        </form>
    </div>
</div>
{% endblock content %}